.passwordOptionSection {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
}

.passwordOptionSectionDiv{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 5.5px;
}

.rememberMeChkbox {
    display: flex;
    position: relative;
    cursor: pointer;
    top: 5px;
}


