* {
  box-sizing: border-box;
  font-family: fantasy !important;
}

.App {
  text-align: center;
}

/* body */

body {
  margin: 0;
  background-color: darkcyan;
}

/* Header */
.App-header {
  background-color: #ffffff;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0px;
  z-index: 99999;
}

.App-header nav {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px, 200px, 0px, 0px;
}

.App-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App-header nav ul li {
  width: fit-content;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.App-header nav ul li .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  color: #888585;
  transition: 0.3s;
}

.App-header nav ul li .nav-link:hover {
  background-color: #50e3c2;
  color: #ffffff;
}


/* Main content */
.App-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 100px 0px 0px 0px;
}

/* Footer */
.App-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  bottom: -220px;
}

